.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #1e1e1e; /* Match Monaco editor theme */
  }

  .languageSelector {
    padding: 10px;
    background-color: #282828;
    color: white;
  }
  
  .languageSelector label {
    margin-right: 10px;
  }
  
  .languageSelector select {
    padding: 5px;
    font-size: 16px;
    background-color: #444;
    color: white;
  }
  